.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  @media (max-width: 766px) {
    margin-top: 120px;
  }
  .moviesBox {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
  }
}
