.root {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;

  .title {
    margin: 0px;
    text-align: start;
  }

  .tagline {
    opacity: 0.8;
  }

  .rating {
    font-size: 1.3rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    span {
      font-size: 1.3rem;
      padding-top: 5px;
    }
    i {
      opacity: 0.8;
    }
  }
}

@media (max-width: 800px) {
  .root {
    padding: 10px;
    .title {
      margin-top: 20px;
    }
  }
}
