.root {
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;

  .title {
    text-align: start;
  }

  .tagline {
    opacity: 0.8;
  }

  .rating {
    font-size: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    span {
      font-size: 20px;
      padding-top: 5px;
    }
    i {
      opacity: 0.8;
    }
  }
}
