.root {
  min-height: 55px;
  background-color: #252525;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;

  @media (max-width: 766px) {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 5px 2rem;
  }

  span {
    a {
      text-decoration: none;
      color: #2196f3;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  span:last-child {
    color: #505050;
  }
}
