.root {
  h2 {
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .moviesBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
    }
  }
}
